.userList {
    width: 100vw;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.d-ib {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.userRow {
    border-bottom: 1px solid #d3d3d3;
    height: 75px;
    width: 100vw;
}
.userName {
    width: 150px;
    border-right: 1px solid #d3d3d3;
    height: 100%;
    text-align: center;
    & > span {
        height: 75px;
        line-height: 75px;
        font-size: 1.5rem;
        text-align: center;
    }
}

.badgeImg {
    display: inline-block;
    height: 100%;
    position: relative;
}

.badge {
    position: absolute;
    margin: auto 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    padding: 10px;
    border: 1px dotted salmon;
    box-shadow: 0px 0px 3px 2px salmon;
    border-radius: 100%;
    
}

.badges {
    width: calc(100vw - 151px);
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.badges::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.badges {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
