.userList {
    width: 100vw;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.d-ib {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.userRow {
    border-bottom: 1px solid #d3d3d3;
    height: 75px;
    width: 100vw;
}
.userName {
    width: 150px;
    border-right: 1px solid #d3d3d3;
    height: 100%;
    text-align: center;
    & > span {
        height: 75px;
        line-height: 75px;
        font-size: 1.5rem;
        text-align: center;
    }
}

.badgeImg {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 75px;
}

.badge {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 45px;
    padding: 10px;
    border-radius: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    &.bronze {
        border: 1px solid hsl(36, 33%, 31%);
        box-shadow: inset 0px 0px 8px 2px #79613d, 0px 0px 2px 2px #79613d;
    }
    &.silver {
        border: 1px solid hsl(0, 0%, 76%);
        box-shadow: inset 0px 0px 8px 2px #cecece, 0px 0px 2px 2px #cecece;
    }
    &.gold {
        border: 1px solid hsl(51, 100%, 45%);
        box-shadow: inset 0px 0px 8px 2px #ffc400, 0px 0px 2px 2px #ffc400;
    }
}

.badges {
    width: calc(100vw - 151px);
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.badges::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.badges {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.badgeImg .tooltiptext {
    visibility: hidden;
    width: 75px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.6rem;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 80%;
    margin-left: -60px;
}

.badgeImg:hover .tooltiptext {
    visibility: visible;
}
