<div class="d-flex">
    <div class="card" style="display: none;">
        <h4>Add a new user</h4>

        <label for="usernameInput">Username</label>
        <input type="text" [(ngModel)]="username" id="usernameInput" class="form-control" disabled>

        <button type="button" class="btn" (click)='addUser()' disabled>Add user</button>
    </div>
    <div class="card">
        <h4>Add a new badge</h4>

        <div class="error" *ngIf="error.length != 0">
            {{error}}
        </div>

        <label for="userBadge">User</label>
        <select [(ngModel)]="userId" id="userBadge" class="form-control">
            <option  [value]="i.id" *ngFor="let i of users | async">{{i.username}}</option>
        </select>

        <label for="imgAlt">Alt text</label>
        <input type="text" [(ngModel)]="name" id="imgAlt" class="form-control">

        <label for="levelSelect">Level</label>
        <select name="level" id="levelSelect" [(ngModel)]="level" class="form-control">
            <option value="bronze">Bronze</option>
            <option value="silver">Silver</option>
            <option value="gold">Gold</option>
        </select>

        <label for="filePicker">Choose or drag a file <b>(100x100px)</b>:</label>
        <input type="file" id="filePicker" (change)="handleFileSelect($event)" >

        <div style="margin: 5px 0;">
            <img src="{{base64textString}}" style="display: block;margin: 0 auto;">
        </div>
        

        <button type="button" class="btn" (click)='addBadgeToUser()'>Add badge</button>
    </div>
</div>
